* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "comic Sans";
  src: url("../fonts/comicz.ttf");
  font-style: normal;
  font-weight: normal;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
body,
main {
  height: auto;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header,
main,
footer {
  width: 60%;
}
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 84px;
}
.logo {
  width: 84px;
  height: auto;
}
img {
  width: 40%;
  float: left;
  padding: 0 16px 16px 0;
}
h1 {
  text-align: center;
  font-family: comic Sans;
  color: orange;
  text-shadow: grey 5px 5px 10px;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  display: inline-block;
  font-size: medium;
  font-family: arial;
  background-color: blue;
  color: aliceblue;
  padding: 8px;
  margin: 2px;
  border-radius: 8px;
}
span {
  color: orange;
}
p {
  text-align: justify;
}
footer {
  height: 100%;
  background-color: orange;
}
section,
footer {
  margin-top: 62px;
}
footer p {
  display: flex;
  align-content: center;
  margin: 16px;
  color: aliceblue;
  justify-content: flex-end;
}
/* -----------------------------contacto----------------------- */
form {
  display: flex;
}
fieldset {
  width: 18rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
div {
  margin: 0.5rem;
}
a {
  text-decoration: none;
  color: #fff;
}
button {
  margin: 2rem;
}
